<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0">
	<title>reactJs练习</title>
	<script src="../public/js/lib/react.min.js"></script>
	<script src="../public/js/lib/JSXTransformer.js"></script>
	<script src="../public/js/lib/react-dom.js"></script>
	
</head>
<body>
	<p>
		组件名称首字母必须大写，
	</p>
	<div id="container">
		
	</div>

	<div id="lists">
		
	</div>

	<script  type="text/jsx">
		var names=["习大大","彭麻麻","王大师","哈哈哈"];

		var Lists=React.createClass({
			getInitialState:function(){
				return {
					status:false,
					color:"#f33"
				}
			},
			handleClick:function(){
				console.log(this.state.status,this);
				this.state.status=!this.state.status;
				if(this.state.status){
					this.state.color="#3f3"
				}
				else{
					this.state.color="#f33"
				}
				
			},
			render:function(){
				return <div style={{color:this.state.color}} onClick={this.handleClick}>
				{this.props.datavue}{this.state.color}
				</div>;
			}
		});

		ReactDOM.render(
			<div>{
					names.map(function(item,index){
						return <li>{index+1}:{item} </li>;
					})
				}
			</div>

		,document.getElementById("container"));


		ReactDOM.render(<Lists datavue="123" />,document.getElementById("lists"));


	</script>
</body>
</html>