<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
		<meta content="yes" name="apple-touch-fullscreen"> 
		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
		<meta name="full-screen"content="yes">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>vue测试</title>
	</head>
	<body>
		<script src="../../public/js/plugins/vue.js"></script>
		<a href="http://mt.sohu.com/20161201/n474688294.shtml">vue2.0构建应用地址</a>
		<a href="http://blog.csdn.net/mikelkl/article/details/52794858">常见问题</a>
		<a href="http://www.cnblogs.com/axl234/p/5887839.html">最接地气的地址</a>
		<a href="http://www.cnblogs.com/lvyongbo/p/5953464.html">vue组件编译</a>
		
		<div id="example1" :data-id="attrId">
			<p>{{name}}</p>
			<p>{{name1}}</p>
			<p>{{html}}</p>

			<p v-if="show">v-if 是否编译显示该段</p>
			<p v-else>v-else显示另一段</p>
			
			<p v-show="show">v-show 是否显示该段</p>
			<p v-else>v-else 显示另一段</p>

			<template v-if="show"><p>展示此段template</p><p>展示此段template</p></template>
			<ul><!-- 各种循环 -->
				<li v-for="(item,index) in arr">
					{{index}} {{item.msg}}
				</li>
				<li v-for="value in obj">
					{{$key}}:{{value}}
				</li>
				<li v-for="n in 5">
					{{n}}
				</li>
			</ul>
			<input type="text" v-model="name" >
		</div>
		
		<ul>
			<li>1.全局安装vue-cli</li>
			<li>2.vue init webpack projectname</li>
			<li>3.cd projectname</li>
			<li>4.npm install</li>
			<li>5.npm run dev</li>
			<li>6.localhost:8080</li>
		</ul>
		<!-- 当需要多个字段才能决定一个字段的显示的时候，怎么处理 -->
		<!-- template可以用于包装大段的标签，作为一个整体 只有和v-if结合才有用-->
		<!-- v-if 和v-show是有本质区别的  v-esle可以-->
		<!-- 过滤器的自定义？-->
		
		
		<script>
			var data={
				count:0,
				attrId:123,//放在元素的attr上面
				name:"lucy",//只能包含一个表达式  太复杂的需要在外部进行处理
				age:25,//改变后不会在模板中体现的
				active:true,//表达式
				html:"<p>这是一个p标签</p>",
				show:true,
				time:new Date().getTime(),
				arr:[
					{msg:"a"},{msg:"b"}
				],
				obj:{
					city:"北京",
					amout:1000
				}
			};
			var vm1=new Vue({
				el:"#example1",
				data:data,
				computed:{//计算属性 相当于handlebars中的helper 当依赖属性变化时，计算属性也会改变  循环中的计算怎么玩儿？
					name1:function(){
						return this.name.split("").join("==");
					}
				}
			});
			vm1.$watch("time",function(){
				this.count+=1;
			});
		</script>
		<script src="../../public/js/page/main.min.js"></script>
		<script src="../../public/js/page/array.min.js"></script>
	</body>
</html>
