<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
		<meta content="yes" name="apple-touch-fullscreen"> 
		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
		<meta name="full-screen"content="yes">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>todoList练习</title>
		<link rel="stylesheet" href="../../public/css/todiList.min.css">
		<script src="../../public/js/plugins/vue.js"></script>
	</head>
	<body>
		<!-- 
		本示例解决了以下问题


		事件
		如获取当前事件的元素？
		很多元素的时候，怎么使用事件捕获？
		如何阻止事件冒泡？
		循环中的事件绑定要绑定到每一个可操作的元素身上？内存不会占用太多么？

		
		如何实现元素的精确查找？
		
		深度元素操作，如何对应到深度的数据？

		属性绑定
		如何绑定class？数组  数组里面可以嵌套对象  class名字需要用引号包含 原始写法和绑定class可以并存
		如何绑定style？
		
		watch如何设置深度监听？
		
		数据的前端唯一性如何保证？

		如何给对应的元素添加动画？
		
		
		 -->
		
		<div id="todoList" class="todo-list">
			<input type="text" v-on:keyup.enter="add" class="todo-input">
			<ul v-show="lists.length>0" class="todo-ul">
				<transition-group name="fade">
					<li v-for="item in filterTodos" class="todo-item" :class="['clearfix']" :key="item.id" >
						<input type="checkbox" :class="['todo-radio']" v-model="item.completed" :id="item.id">
						<label v-text="item.text" :class="['todo-text',{'completed':item.completed}]" :for="item.id"></label>
						<span class="btn btn-sm btn-red fn-fr" v-on:click="deleteTodo(item)">删除</span>
					</li>
				</transition-group>
			</ul>
			
			<div class="clearfix todo-footer">
				<label >共<span v-text="remaining"></span>/<span v-text="lists.length"></span>条</label>
				<span class="btn btn-sm btn-green" v-on:click="setShowStatus" data-show-status="all">全部</span>
				<span class="btn btn-sm btn-green" v-on:click="setShowStatus" data-show-status="completed">已完成</span>
				<span class="btn btn-sm btn-green" v-on:click="setShowStatus" data-show-status="active">未完成</span>
			</div>
		</div>
		
		<script>
			window.onload=function(){

				var storage={
					getLists:function(){
						var lists=JSON.parse(localStorage.getItem("todoList")||"[]");
						lists.forEach(function(todo,index){
							todo.id=index;
						});
						storage.uid=lists.length;
						return lists;
					},
					setLists:function(lists){
						localStorage.setItem("todoList",JSON.stringify(lists));
					}
				};
				var filters={
					all:function(todos){
						return todos;
					},
					active:function(todos){
						return todos.filter(function(todo){
							return !todo.completed;
						});
					},
					completed:function(todos){
						return todos.filter(function(todo){
							return todo.completed;
						});
					}
				};

				todoList=new Vue({
					el:"#todoList",
					data:{
						lists:storage.getLists(),
						active:"all",
						msg:"",
						show:false
					},
					methods:{
						add:function(event,a){
							var text=event.target.value.trim();
							storage.uid+=1;
							if(text){
								this.lists.push({
									text:text,
									completed:false,
									id:storage.uid
								});
							}
							
						},
						deleteTodo:function(todo){
							var index=this.lists.indexOf(todo);
							this.lists.splice(index,1);
						},
						setShowStatus:function(e){
							var status=e.target.getAttribute("data-show-status");
							this.active=status;
						},
					},
					watch:{
						lists:{
							handler:function(todos){
								storage.setLists(todos);
							},
							deep: true
						}
					},
					computed:{//计算属性
						remaining:function(){
							return filters.active(this.lists).length;
						},
						filterTodos:function(){
							return filters[this.active](this.lists);
						}
					}
				});
			}
		</script>
	</body>
</html>
	