<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1">
	<title>a</title>
	<link rel="stylesheet" href="../public/css/a.min.css?v=201605231523?time=201605231433?time=201605231433">
	<link rel="stylesheet" href="../public/css/b.min.css?v=201605231523">
	<link rel="stylesheet" href="../public/css/b.min.css">
</head>
<body>
	<button id="test">点击测试</button>
	
	<p id="container">
		
	</p>
	<script src="../public/js/lib/jquery-2.1.4.js"></script>
	<script>
		$(function(){
			$("#test").on("click",function(){
				$.ajax({
					type:"GET",
					url:"../public/js/test.json",
					dataType:"json",
					success:function(data){
						$("#container").html(JSON.stringify(data));
						console.log(data);
					}
				});
			})
		});
	</script>
</body>
</html>